
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    background: rgb(151, 151, 151);
}

.header{
    background: black;
    height: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.main_frame{
    background: rgb(30, 63, 12);
    height:640px;
    width:640px;
    margin-top: 10px;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
}
.field_Square{
background:rgb(11, 20, 14);
width: 30px;
height: 30px;
margin: 1px;
font-size: 25px;
text-align: center;
}
.snake_body{
background:white;
width: 30px;
height: 30px;
margin: 1px;
}
.snake_head{
  background:rgb(90, 80, 80);
  width: 30px;
  height: 30px;
  margin: 1px;
  }
.fruit_apple{
background:rgb(255, 0, 0);
width: 30px;
height: 30px;
margin: 1px;
border-radius: 45%;
}


.score_table{
    width: 150px;
    height: 45px;
    position: relative;
    background-color: black;
    color: white;
    top: -675px;
    left: 150px;
    font-size: 25px;
    padding-left: 10px;
}

.score_table p{
font-size: 35px;
}