/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background: RGB(127, 205, 205);
    font-family: "Roboto Mono", monospace;
}
header{
    font-size: 20px;
background: rgb(230, 196, 60);
width: 800px;
height: 30px;
text-align: center;
}

.mainArea{
    border: 2px solid rgb(230, 196, 60);
    background: white;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.mainForm{
    margin-top: 10px;
    display: flex;
    
    align-items: center; 
    flex-direction: column;
}
.nameInput{
    width: 750px; 
}
.nameList{
    align-items: left;
  
}
.addName{
    position: relative;
    top: 2px;
    width: 80px;
    height: 40px;
}

.listString{
    background: cornsilk;
    width: 750px;
    margin: 12px;
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
}




/* Fill button styling */
.fill {
  margin: 10px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fill::after {
    content: "";
    background-color: #ffe44c52;
    width: 100%;
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }